/* common Shared styl */
body {
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
    ;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-des {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}


/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .Profile-pic {
    width: 500px;
}

.Banner-Greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.Banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-des {
    margin-top: 20px;
    margin-bottom: 30px;

}

/* main section Style */
.main {
    max-width: 1140px;

}

main section {
    margin-top: 130px;
}


/* about section style */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
}

.About-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skills related style */
#What-i-do-description {
    text-align: center;
    font-size: 18px;
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(230, 4, 4, 0.06);
}

.skill-description {
    color: #757575;
}

/* resume related style  */

.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-left: 200px;
}